*{
    font-family: 'Dongle', sans-serif;
    font-size: 18px;
    font-weight: 400;
    box-sizing: border-box;
}
h1 {
    font-size: 60px;
    font-weight: 700;
    animation-name: desplazar;
}
#orange {
    background-color: orange;
    animation-name: desplazar;
    animation-duration: 2s;
    position: relative;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}
#yellow {
    background-color: palegoldenrod;
    animation-name: desplazar;
    animation-duration: 2s;
    position: relative;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-delay: 2.5s;
}
#pink {
    background-color: pink;
    animation-name: desplazar;
    animation-duration: 2s;
    position: relative;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-delay: 4.5s;
}
div {
    width: 50%;
    height: 100px;
    padding: 10px 20px 10px 20px;
    margin: 20px;

}
@keyframes desplazar {
    from {
        position: relative;
        left: 0;
    }
    to {
        left: 500px;
}
}

